/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
}
.card-container {
  display: flex;

  flex-direction: column;
  width: 80%;
  max-width: 1140px;
  align-items: center;
}
@media screen and(min-height:768px) {
  .card-container {
    align-items: flex-start;
  }
}
.heading {
  font-family: 'Open Sans';
  font-size: 40px;
  font-weight: bold;
  color: #252627;
  align-items: center;
  text-align: center;
  margin-top: 48px;
  margin-left: 15px;
  margin-bottom: 32px;
}
@media screen and (min-height: 768px) {
  .heading {
    margin-top: 96px;
  }
}
.search-icon {
  height: 20px;
  width: 20px;
}
.search-input-container {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 16px;
  border-radius: 8px;
  background-color: #f1f5f9;
}
.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 48px;
}
@media screen and (min-height: 768px) {
  .container {
    justify-content: flex-start;
  }
}
